$primary: #2879ff;
$danger: #f56c6c;
$success: #67c23a;
$info: #909399;
$warning: #e6a23c;
$primary-plain: #ecf5ff;
$danger-plain: #fef0f0;
$success-plain: #f0f9eb;
$info-plain: #f4f4f5;
$warning-plain: #fdf6ec;
